
.Rhistory
.RData
.Rproj.user/7DEDAFDF/pcs/source-pane.pper
.Rproj.user/7DEDAFDF/sources/per/t/62AD4730
.Rproj.user/7DEDAFDF/sources/prop/8F20F472
.Rproj.user/7DEDAFDF/sources/per/t/6DA30A14
.Rproj.user/7DEDAFDF/sources/per/t/6DA30A14-contents
.Rproj.user/7DEDAFDF/sources/prop/3E790DD
.Rproj*

